---
###############################################################
#                   Authelia configuration                    #
###############################################################

server:
  host: 0.0.0.0
  port: 9091

log:
  level: info

theme: light

jwt_secret: a_very_important_secret_change_this

default_redirection_url: https://bookstack.example.com

totp:
  issuer: bookstack.example.com
  period: 30
  skew: 1

authentication_backend:
  file:
    path: /config/users_database.yml
    password:
      algorithm: argon2id
      iterations: 1
      salt_length: 16
      parallelism: 8
      memory: 64

access_control:
  default_policy: deny
  rules:
    - domain: bookstack.example.com
      policy: two_factor
    - domain: traefik.example.com
      policy: two_factor
    - domain: grafana.example.com
      policy: two_factor
    - domain: prometheus.example.com
      policy: two_factor

session:
  name: authelia_session
  secret: unsecure_session_secret_change_this
  expiration: 1h
  inactivity: 15m
  domain: example.com

regulation:
  max_retries: 5
  find_time: 2m
  ban_time: 10m

storage:
  local:
    path: /config/db.sqlite3

notifier:
  filesystem:
    filename: /config/notification.txt
