---
- name: Déploiement de l'application Docker
  hosts: all
  become: yes
  
  tasks:
    - name: Mise à jour du cache APT
      apt:
        update_cache: yes
        cache_valid_time: 3600
    
    - name: Installation des dépendances
      apt:
        name:
          - ca-certificates
          - curl
        state: present
    
    - name: Téléchargement du script d'installation Docker
      get_url:
        url: https://get.docker.com
        dest: /tmp/get-docker.sh
        mode: '0755'
    
    - name: Installation de Docker via le script officiel
      shell: sh /tmp/get-docker.sh
      args:
        creates: /usr/bin/docker
    
    - name: Démarrage et activation du service Docker
      systemd:
        name: docker
        state: started
        enabled: yes
    
    - name: Copie des fichiers du projet
      synchronize:
        src: /vagrant/
        dest: /home/vagrant/docker-app/
        rsync_opts:
          - "--exclude=.vagrant"
          - "--exclude=ansible"
      delegate_to: "{{ inventory_hostname }}"
    
    - name: Construction de l'image Docker
      community.docker.docker_image:
        name: my_lamp
        tag: latest
        source: build
        build:
          path: /home/vagrant/docker-app
        state: present
    
    - name: Création du volume Docker pour MySQL
      community.docker.docker_volume:
        name: mysqldata
        state: present
    
    - name: Arrêt du conteneur existant (si présent)
      community.docker.docker_container:
        name: my_lamp_c
        state: absent
      ignore_errors: yes
    
    - name: Démarrage du conteneur Docker
      community.docker.docker_container:
        name: my_lamp_c
        image: my_lamp:latest
        state: started
        restart_policy: always
        ports:
          - "8000:80"
        volumes:
          - "mysqldata:/var/lib/mysql"
        command: bash -c "service mariadb start && mysql < /articles.sql && service apache2 start && tail -f /dev/null"
