---
# webserver/tasks/main.yml - Installation et configuration d'Apache pour l'application Covoiturage

- name: Install Apache web server
  apt:
    name:
      - apache2
    state: present
  tags:
    - webserver
    - install

- name: Enable Apache modules
  apache2_module:
    name: "{{ item }}"
    state: present
  loop:
    - rewrite
    - proxy
    - proxy_fcgi
    - ssl
    - headers
  notify: Restart Apache
  tags:
    - webserver
    - config

- name: Enable PHP-FPM configuration for Apache
  command: a2enconf php8.3-fpm
  args:
    creates: /etc/apache2/conf-enabled/php8.3-fpm.conf
  notify: Restart Apache
  tags:
    - webserver
    - config

- name: Create Apache virtual host configuration
  template:
    src: apache_site.j2
    dest: "/etc/apache2/sites-available/{{ app.name }}.conf"
    owner: root
    group: root
    mode: 0644
  notify: Restart Apache
  tags:
    - webserver
    - config

- name: Disable default Apache site
  file:
    path: /etc/apache2/sites-enabled/000-default.conf
    state: absent
  notify: Restart Apache
  tags:
    - webserver
    - config

- name: Enable Covoiturage site
  file:
    src: "/etc/apache2/sites-available/{{ app.name }}.conf"
    dest: "/etc/apache2/sites-enabled/{{ app.name }}.conf"
    state: link
  notify: Restart Apache
  tags:
    - webserver
    - config

- name: Ensure Apache service is enabled and started
  systemd:
    name: apache2
    enabled: yes
    state: started
  tags:
    - webserver
    - service
