# Traefik Middlewares for NetBox

http:
  middlewares:
    ratelimit:
      rateLimit:
        average: 100
        burst: 50
        period: 1m
    
    security-headers:
      headers:
        customResponseHeaders:
          X-Frame-Options: "SAMEORIGIN"
          X-Content-Type-Options: "nosniff"
          X-XSS-Protection: "1; mode=block"
          Referrer-Policy: "strict-origin-when-cross-origin"
          Permissions-Policy: "geolocation=(), microphone=(), camera=()"
        customRequestHeaders:
          X-Forwarded-Proto: "https"
    
    compression:
      compress:
        excludedContentTypes:
          - text/event-stream
          - image/svg+xml
    
    cors:
      headers:
        accessControlAllowMethods:
          - GET
          - POST
          - OPTIONS
          - PUT
          - DELETE
          - PATCH
        accessControlAllowOriginList:
          - "*"
        accessControlMaxAge: 3600
