---
- name: Configuration Docker sur VM
  hosts: all
  become: yes
  
  tasks:
    - name: Mise à jour du cache apt
      apt:
        update_cache: yes
        cache_valid_time: 3600
    
    - name: Installation des dépendances
      apt:
        name:
          - apt-transport-https
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
          - python3-pip
        state: present
    
    - name: Ajout de la clé GPG Docker
      apt_key:
        url: https://download.docker.com/linux/ubuntu/gpg
        state: present
    
    - name: Ajout du dépôt Docker
      apt_repository:
        repo: "deb [arch=amd64] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable"
        state: present
    
    - name: Installation Docker
      apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
          - docker-compose-plugin
        state: present
        update_cache: yes
    
    - name: Démarrage et activation Docker
      systemd:
        name: docker
        state: started
        enabled: yes
    
    - name: Ajout de l'utilisateur vagrant au groupe docker
      user:
        name: vagrant
        groups: docker
        append: yes
    
    - name: Installation de docker-compose standalone
      get_url:
        url: https://github.com/docker/compose/releases/latest/download/docker-compose-linux-x86_64
        dest: /usr/local/bin/docker-compose
        mode: '0755'
    
    - name: Installation du module Python docker
      pip:
        name:
          - docker
          - docker-compose
        state: present
    
    - name: Vérification de l'installation Docker
      command: docker --version
      register: docker_version
      changed_when: false
    
    - name: Affichage de la version Docker
      debug:
        msg: "{{ docker_version.stdout }}"
