<VirtualHost *:80>
    ServerName {{ app.domain }}
    ServerAdmin webmaster@{{ app.domain }}
    
    DocumentRoot {{ app.install_path }}
    
    <Directory {{ app.install_path }}>
        Options Indexes FollowSymLinks
        AllowOverride All
        Require all granted
        DirectoryIndex index.php
    </Directory>
    
    # PHP-FPM configuration
    <FilesMatch \.php$>
        SetHandler "proxy:unix:/run/php/php8.3-fpm.sock|fcgi://localhost"
    </FilesMatch>
    
    ErrorLog ${APACHE_LOG_DIR}/{{ app.name }}_error.log
    CustomLog ${APACHE_LOG_DIR}/{{ app.name }}_access.log combined
</VirtualHost>
